<div {{ attributes }}>
    <div class="relative">
        <input type="search" id="search" required data-model="debounce(100)|query"
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
            {{ 'label.search_button'|trans }}
        </button>
    </div>

    <div class="mx-auto grid grid-cols-1 gap-8 border-t border-gray-200 pt-10 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
         id="search-results" data-loading="addClass(opacity-40)">
        {% for article in this.getArticles() %}
            {{ include('blog/_article_thumbnail.html.twig') }}
        {% endfor %}
    </div>
</div>
